@page "/todos"

@using Web.Infrastructure;
@using Web.Pages.Components

<PageTitle>Todos</PageTitle>



@if (allTodos.Count() == 0)
    {
        <Notice 
            Text="У вас пока нет задач" 
            Style="@Themes.Neutral"
        />
        <LinkButton 
            Url="@Routes.TodoCreate" 
            Text="Добавить"
            Style="@Themes.PrimaryHover" />
    }
    else
    {
        <LinkButton 
            Url="@Routes.TodoCreate" 
            Text="Добавить"
            Style="@Themes.PrimaryHover" 
        />
        <div class="users__container">
            <div class="users-list">
                <p>
                Количество пользователей: @allTodos.Count()
                </p>
                <div class="users-list__content">
                @foreach (var todo in allTodos)
                {
                    <div>
                        @todo.todo.Id
                    </div>
                }
                </div>
            </div>
            
        </div>
    }