@page "/todos/create"
@using Web.Infrastructure;
@using Web.Pages.Components
<h3>TodoCreateView</h3>


<LinkButton 
    Url="@Routes.Todo"
    Text="Назад"
    Style="@Themes.NeutralHover" 
/>


<h3>Создание задание</h3>

<article class="input-title">Текст задания</article>
<input class="input" type="text" @bind="@todoToCreate.Text" />

<article class="input-title">Статус</article>
<input class="input" type="checkbox" @bind="@todoToCreate.IsDone" />


<article class="input-title">Пользователи</article>
<select @bind="@todoToCreate.UserId">
    @if (userSelection is not null)
    {
        @foreach (var user in userSelection)
        {
            <option value="@user.Id">@user.Name</option>
        }
    }
    else
    {
        <option value="0">пусто</option>
    }
</select>

<div>
    @isCreated
</div>

<LoadingButton 
    Callback="@CreateTodo"
    Show="@false"
    Style="@Themes.PrimaryHover"
    Text="Создать"
    />