@page "/todos"

@using Web.Infrastructure;
@using Web.Pages.Components

<PageTitle>Todos</PageTitle>



@if (allTodos.Count() == 0)
    {
        <Notice 
            Text="У вас пока нет задач" 
            Style="@Themes.Neutral"
        />
        <LinkButton 
            Url="@Routes.TodoCreate" 
            Text="Добавить"
            Style="@Themes.PrimaryHover" />
    }
    else
    {
        <LinkButton 
            Url="@Routes.TodoCreate" 
            Text="Добавить"
            Style="@Themes.PrimaryHover" 
        />
        <div class="todos__container">
            <div class="todo-list">
                @foreach (var todo in allTodos)
                {
                    <TodoListCard 
                        Todo="@todo.todo"
                    />
                }
            </div>
            
        </div>
    }