@page "/users/create"
@using BusinessLogic.Services
@using DataAccess.Models;
@using Web.Pages.Components;
@using Blazorise;
@inject IUserService userService



<a href="users">
    <button class="reset-button back-btn theme-neutral">
        Назад
    </button>
</a>

<h3>Создание пользователя</h3>

<article class="input-title">Имя</article>

<input class="input" type="text" @bind="@UserName" />

<TextInput @ref="te1" OnEnterKey="@OnEnter" OnTabKey="@OnTab"/>
<TextInput @ref="te2" OnEnterKey="@OnEnter" OnTabKey="@OnTab" />
<TextInput @ref="te3" OnEnterKey="@OnEnter" OnTabKey="@OnTab" />
<TextInput @ref="te4" OnEnterKey="@OnEnter" OnTabKey="@OnTab" />


<button class="reset-button theme-primary" @onclick=@SubmitUser>Создать</button>

@if(enters.Count() != 0)
{
    foreach(var enter in enters)
    {
        <p>@enter</p>
    }
}
else
{
    <p>No</p>
}


@code {

    #region State
    private List<string> enters= new();
    public string UserName = "";
    public User user = new();

    private TextInput? te1;
    private TextInput? te2;
    private TextInput? te3;
    private TextInput? te4;
    #endregion


    void OnEnter(KeyboardEventArgs e)
    {
        enters.Add("1");

    }

    void OnTab(KeyboardEventArgs e)
    {
        enters.Add("2");
    }

    private bool CheckInputs(){
        if(!String.IsNullOrEmpty(UserName)){
            return true;
        }
        return false;
    }

    public void ClearInputs()
    {
        UserName = "";
    }

    public async Task SubmitUser(){
        if (CheckInputs())
        {
            var userToCreate = new BusinessLogic.ViewModels.UserModels.UserCreate()
            {
                Name = UserName
            };
            ClearInputs();
            user = await userService.Create(userToCreate);
        }
    }
}
