@using BusinessLogic.ViewModels.UserModels;


<div class="user-card">
    <article class="user-card__index">
        @User.Id
    </article>
    <article class="user-card__index">
        @(Index + 1)
    </article>
    <div class="user-card__name">
        @User.Name
    </div>
    <div class="user-card__todos-count">
        @User.TodoCount
    </div>
    <LoadingButton 
        Text="Удалить"
        Callback="@Click"
        Style="@Themes.DangerHover" 
    />

</div>



@code {

    #region [State]
    #endregion[State]

    #region [Params]
    [Parameter]
    public bool IsDeleting { get; set; }
    [Parameter]
    public int Index { get; set; }
    [Parameter]
    public UserListResult User { get; set; }
    [Parameter]
    public EventCallback<int> Delete { get; set; }
    #endregion [Params]

    private async Task Click()
    {
        await Delete.InvokeAsync(User.Id);
    }


    /*<a href="/users/@User.Id">
     * 
    </a>*/

}
